#wiki{
    line-height: 0.5;
    transform: translate(90vh, -1vh);
}
#wikii{
    transform: translate(-30vh, 7vh);
}
#pic{
    transform: translate(89vh, 17vh);
    width: 13%;
}
#anchor{
    color: blue;
    text-decoration: none;
}
#wiki1a1{
    color: black;
    font-size: 10pt;
}
#wiki1{
    display: flex;
    font-size: 10pt;
    font-family: sans-serif;
    color: blue;
    text-align: center;
}
#wiki2{
    display: flex;
    font-size: 10pt;
    font-family: sans-serif;
    color: blue;
    text-align: center;
}

h2:hover{
    /* cursor: pointer; */
    background-color: rgb(230, 211, 211);
}
#wiki1a{
    transform: translate(70vh, -22vh);
    font-size: 11pt;
}
#wiki1b{
    transform: translate(100vh, -22vh);
    font-size: 11pt;
}
#wiki2a{
    transform: translate(63vh, -23vh);
    font-size: 11pt;
}
#wiki2b{
    transform: translate(103vh, -22vh);
    font-size: 11pt;
}
#wiki3{
    display: flex;
    font-size: 11pt;
    font-family: sans-serif;
    color: blue;
    text-align: center;
}
#wiki3a{
    transform: translate(62vh, -20vh);
    font-size: 11pt;
}
#wiki3b{
    transform: translate(105vh, -20vh);
    font-size: 11pt;
}
#wiki4a{
    transform: translate(67vh, -20vh);
    font-size: 11pt;
}
#wiki4b{
    transform: translate(110vh, -20vh);
    font-size: 11pt;
}
#wiki5a{
    transform: translate(75vh, -20vh);
    font-size: 11pt;
}
#wiki5b{
    transform: translate(100vh, -20vh);
    font-size: 11pt;
}
input{
    width: 30%;
    height: 5.8vh;
    transform: translate(65vh,-5vh);
}
img{
    transform: translate(64vh, -1vh);
}
#anchor2{
    color: blue;
    text-decoration: none;
}
#read{
    width: 25%;
    height: 5vh;
    border: thin solid rgb(158, 149, 149);
    transform: translate(70vh, -1vh);
    padding-left: 30px;
    /* padding-top: 10px; */
    text-align: center;
    padding-top: 10px;
    background-color:rgb(245, 236, 236);
}
#line{
    width: 10%;
    border: solid rgb(211, 205, 205);
    background-color: rgb(240, 227, 227);
    transform: translate(45vh, -5vh);
}
#line2{
    width: 10%;
    border: solid rgb(211, 205, 205);
    background-color: rgb(240, 227, 227);
    transform: translate(130vh, -5vh);
}
#read:hover{
    background-color: rgb(235, 233, 226);
}
footer{
    width: 100%;
    height: 60vh;
    background-color: white;
    border-top:thin solid black ;
    border-bottom: thin solid black;
}
div{
    display: flex;
}
#list{
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    line-height: 0.5;
}
#image{
    transform: translate(-5vh, -2vh);
}
#let{
    transform: translate(2vh);
    display: flex;
}
#let:hover{
    background-color: rgb(223, 223, 223);
}
#head{
    transform: translate(-5vh);
}
#anchor3{
    color: blue;
    text-decoration: none;
    transform: translate(5vh, 1vh);
    line-height: 0.5;
}